.form-catalog {
    display: flex;
    position: relative;

    &__tel-wrap {
        width: 415px;
        margin-right: 15px;
        position: relative;
    }

    &__tel {
        height: 100%;
        padding: 0 50px;
        width: 415px;

        &::placeholder {
            font-family: "FuturaPTBook", Arial, Helvetica, sans-serif;
        }
    }

    &__tel-icon {
        position: absolute;
        left: 25px;
        top: 20px;

        width: 16px;
        height: 21px;

        background: url("../img/icon-phone.png") no-repeat center center;
    }
}