@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin gradient {
    background: linear-gradient(90deg, rgba(111,31,176,1) 0%, rgba(79,14,228,1) 100%);
}
